.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.theme-toggle{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
